@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome,
  .main {
    display: block;
  }
  ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome,
  ::i-block-chrome__border-top,
  .main__border-top,
  ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome,
  ::i-block-chrome__border-bottom,
  .main__border-bottom {
    display: block;
  }
  ::i-block-chrome ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome ::i-block-chrome,
  ::i-block-chrome__border-top ::i-block-chrome,
  .main__border-top ::i-block-chrome,
  ::i-block-chrome ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome ::i-block-chrome,
  ::i-block-chrome__border-bottom ::i-block-chrome,
  .main__border-bottom ::i-block-chrome,
  ::i-block-chrome ::i-block-chrome::before,
  .main ::i-block-chrome::before,
  ::i-block-chrome__border-top::before,
  .main__border-top::before,
  ::i-block-chrome ::i-block-chrome::before,
  .main ::i-block-chrome::before,
  ::i-block-chrome__border-bottom::before,
  .main__border-bottom::before {
    float: left;
  }
  ::i-block-chrome ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome ::i-block-chrome,
  ::i-block-chrome__border-top ::i-block-chrome,
  .main__border-top ::i-block-chrome,
  ::i-block-chrome ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome ::i-block-chrome,
  ::i-block-chrome__border-bottom ::i-block-chrome,
  .main__border-bottom ::i-block-chrome,
  ::i-block-chrome ::i-block-chrome::after,
  .main ::i-block-chrome::after,
  ::i-block-chrome__border-top::after,
  .main__border-top::after,
  ::i-block-chrome ::i-block-chrome::after,
  .main ::i-block-chrome::after,
  ::i-block-chrome__border-bottom::after,
  .main__border-bottom::after {
    float: right;
  }
  ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome,
  ::i-block-chrome__content,
  .main__content {
    display: table;
    width: 100%;
    height: 89.2%;
  }
  ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome,
  ::i-block-chrome__border-left,
  .main__border-left,
  ::i-block-chrome ::i-block-chrome,
  .main ::i-block-chrome,
  ::i-block-chrome__border-right,
  .main__border-right {
    display: table-cell;
  }
}
